p {
   font-size: 12px;
   line-height: 14px;
   color: black;
}

.notLinkBar {
  fill: peru;
  stroke: white;
  stroke-width: 1;
}

.linkBar {
  fill: sienna;
  stroke: white;
  stroke-width: 1;
}

.linkBarHover {
  fill: orangered;
  stroke: white;
  stroke-width: 1;
}

.linkBar:hover {
    fill: yellow;
/*
  fill: orangered;
  */
}

.linkIDSpace:hover {
  background: orangered;
}

.axis path,
.axis line {
   fill: none;
   stroke: black;
   shape-rendering: crispEdges;
}

.axis text {
   font-family: sans-serif;
   font-size: 15px;
}

.x.axis path {
  display: none;
}

div.mainTabBox {
    margin: 0px;
    padding: 0px;
}

p.tabs {
    margin: 0px;
    padding: 0px;
}

p.tabs a.tabNameOff {
    display: block;
    margin: 0px 1px 0px 0px;
    padding: 10px;
    float: left;
    width: 180px;
    font-size: 20px;
    font-weight: bold;
    background-color: brown;
    color: white;
}

p.tabs a.tabNameOff:hover {
    background-color: tomato;
    color: white;
}

p.tabs a.tabNameOn {
    display: block;
    margin: 0px 1px 0px 0px;
    padding: 10px;
    float: left;
    width: 180px;
    font-size: 20px;
    font-weight: bold;
    background-color: orange;
    color: black;
}

div.tab {
    overflow: auto;
    clear: left;
    border: 5px solid orange;
    background-color: white;
}

a.graphLabel {
    display: block;
    margin: 0px 1px 0px 0px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: orange;
    color: black;
}

#menuButtons {
  list-style: none;
  padding: 0px;
}

#menuButtons li {
  position: relative;
  float: left;
  margin: 0;
  padding: 5px;
  width: 300px;
  height: 20px;
  border: none;
  background: goldenrod;
  border: solid 1px white;
  color: white;
  font-weight: bold;
}

#menuButtons li:hover {
  background: gold;
  color: black;
}

#menuButtons li ul {
  display: none;
  position: absolute;
  top: 30px;
  left: 0px;
  width: 200px;
  border: none;
}

#menuButtons li:hover ul {
  display: block;
  padding: 0px;
  text-align: right;
}

#menuButtons li ul li {
  list-style: none;
  margin: 0;
  padding: 5px;
  border: none;
  width: 300px;
}









